<div class="container">
  <h2>Todos 3000!</h2>
  <div id="new-todo">
    <input
      id="input-field"
      type="text"
      placeholder="Add ToDo..."
      [(ngModel)]="todoInput"
    />
    <button id="add-btn" (click)="addTodo()">Add</button>
  </div>

  <div id="todos">
    <ol>
      <li *ngFor="let todo of todoList">
        <app-todo [todo]="todo" (deleteTodo)="deleteTodo($event)"></app-todo>
      </li>
    </ol>
  </div>
</div>
